.app-nav {
    
}

.app-nav__list {
    list-style: none;
}

.app-nav__list-item {
    display: inline;
}

.app-nav__link {
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    &:link {
        color: #fff;
    }
    &:visited {
        color: #fff;
    }
    &:active {
        color: #000;
    }
    &:hover {

    }
}

%nav-icon-lines {
    display: block;
    height: 3px;
    width: 30px;
    position: absolute;
    border-radius: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

.app-nav__toggle {
    z-index: 20;
    position: absolute;
    top: 17px;
    right: 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.app-nav__toggle-icon {
    @extend %nav-icon-lines;
    top: 23px;
    right: 10px;
    &:after,
    &:before {
        @extend %nav-icon-lines;
        content: "";
        left: 0;
        top: -9px;
    }
    &:after {
        top: 9px;
    }
}

.app-nav__toggle-label {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 17px 50px 17px 12px;
  }