$govuk-global-styles: true;
$govuk-fonts-path: "../govuk-assets/fonts/";


// GDS Design System
@import "all";

// Components
@import "settings/all";
@import "components/all";


.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s {
    font-family: nobel,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.govuk-body-m, .govuk-body, p {
    font-family: nobel,sans-serif;
    font-weight: 300;
}

