@{
    ViewData["Title"] = "Careers advice";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Careers advice hub</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in erat eleifend, ullamcorper dui eu, feugiat erat. Proin vestibulum massa erat, ac hendrerit lectus ornare malesuada. Nulla facilisi. Praesent euismod quis ex non tincidunt. Phasellus non augue aliquet, semper ipsum sed, dapibus sem. Pellentesque semper dui vitae libero facilisis mollis. Donec finibus lacus massa.</p>
        <p>Mauris dignissim enim id sollicitudin mattis. Nullam eget massa quis enim ullamcorper dapibus. Suspendisse hendrerit congue leo, in placerat ipsum varius a. Pellentesque nec nisi rhoncus, consectetur nisi eget, semper ante. Nunc congue sollicitudin magna id sollicitudin. Donec ac nunc sed neque finibus interdum eget quis ipsum. Cras nunc orci, pretium nec efficitur non, sagittis in elit. </p>
    </div>
</div>